
<div class="trialpartWrapper" style="text-align: left;">
	Welcome! 
	<p>
	Hello world????
	</p>
</div>



<div class="trialpartWrapper" style="text-align: left;">
	<p>
	<%= continueButton() %>
</div>

